* {
    box-sizing: border-box;
}

body {
    min-width: 290px;
    background-color: #fff;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
}

code {
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

pre {
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.data-types li {
    line-height: 4;
}

.js-code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

section article {
    margin: 15px;
    font-size: 0.96em;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

#main-doc header {
    text-align: left;
    margin: 0;
}

@media (hover: hover) {
    #navbar a:hover {
        color: white;
        background: black;
    }
}